{% load url from future %}
{% load i18n %} 
<div id="about_page">
<h3>{% trans 'About MyPlaces'%}</h3>

{%blocktrans%}
MyPlaces is a free project that enables to present collections of places on a map.  Many similar services exists, 
but we focus on following values:
<ul>
<li><span class="small_title">Simplicity</span><br>
Our user interface is minimalistic and simple, focused around core functionality of the service.
</li>
<li><span class="small_title">Mobility</span><br>
MyPlaces site is using responsible page design so it can be accessed from modern mobile phones, where it provides 
same interface, but optimized for smaller screens.
</li>
<li><span class="small_title">Openness</span><br>
MyPlaces is fully based on Open Source technologies. 
Sources for itself are <a href="https://github.com/izderadicka/myplaces">available on github.</a><br>
Also used maps are from fantastic <a href="http://www.openstreetmap.org">OpenStreetMap</a> project.
</li>
<li><span class="small_title">Passion</span><br>
I like maps.   I like to browse them,   see their various features etc.   That's why I've learned a bit about GIS 
and current map technologies on Internet.  This site is partially my playground for these technologies and 
partially place to see collections of places in an easy way. 
</li>
<li><span class="small_title">Extra</span><br>
We would like to provide something extra,  which is not very common in similar services either in 
areas of geographic data visualization and functionality.     As per now we can offerer an interesting visualization - 
<a href="http://en.wikipedia.org/wiki/Voronoi_diagram">Voronoi diagram</a> of places in a collection, or 
flexible import functionality, where a collection can be imported from several formats (CSV, GPX, GeoJSON).
I hope we will be able to provide more in future.
</li>
</ul>
{%endblocktrans%}

<h3>{%trans 'Closed Registration'%}</h3>
{%blocktrans%}
Registration is closed, mainly because this is my playground instance.  However fully functional site 
with registration can be installed form source (with slight modifications). 
{%endblocktrans%}

<h3>{% trans 'Technology'%}</h3>
{%blocktrans%}
The service is build in Python programming language,  using Django (and GeoDjango supporting various geographic operations).  
Python code is running in gevent webserver (with support for websockets and socket.io protocols) as a backend 
service behind nginx webserver, which provides static data,  load balancing to backends and caching.<br>
Backend uses Postgres database to store and manipulate data and PostGIS extension to this database. <br>
Application is designed (mostly) as a single page application leveraging RESTful services on backend servers
(with help of django-rest-framework) and backbone.js and jQuery Javasript libraries on client side to provide 
dynamic interface.
{%endblocktrans%}

<h3>{%trans 'Credits And Attributions'%}</h3>
{%blocktrans%}
<p>
Many thanks to all Open Source authors - I've used so many technologies here, so it is hard to list them all. 
For details go the <a href="https://github.com/izderadicka/myplaces">source code on github</a>.  
</p>

<p>
Special attribution to authors in <a href="http://thenounproject.com">The Noun Project</a> - I some of their nice icons/symbols in user interface.   
(I did not collect names as required for proper CC attribution, sorry 
if somebody feels offended let me know I'll fix)
</p>
{%endblocktrans%}
</div>


