{%extends 'base.html'%}
{% load url from future %}
{% load i18n %} 
{% load utility_tags %}
{%block title%}
MyPlaces - {%trans 'free tool to map and share interesting places on Earth'%}
{%endblock%}
{%block head_script%}
<meta name="description" content="{%trans 'Myplaces is a service, where you define your collections of places (POIs) on map. It Offers easy ways how to create, maitain, export  and present such collections.'%}"/>
<meta name="keywords" content="{%trans 'POI, GPX, Map, OpenStreetMaps, Free, GIS, GPS'%}"/>
{%if debug%}
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet-0.7.1/leaflet.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/Leaflet-0.7.1/leaflet-src.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}js//Leaflet.markercluster-0.4/MarkerCluster.css" />
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet.markercluster-0.4/MarkerCluster.Default.css" />
<script src="{{STATIC_URL}}js/Leaflet.markercluster-0.4/leaflet.markercluster-src.js"></script>
<script  src="{{STATIC_URL}}js/underscore-min.js"></script>
<script  src="{{STATIC_URL}}js/backbone-min.js"></script>
{%else%}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>
<link rel="stylesheet" href="{{STATIC_URL}}js//Leaflet.markercluster-0.4/MarkerCluster.css" />
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet.markercluster-0.4/MarkerCluster.Default.css" />
<script src="{{STATIC_URL}}js/Leaflet.markercluster-0.4/leaflet.markercluster.js"></script>
<script  src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script  src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
{%endif%}

<script src="{{STATIC_URL}}/mp/js/map.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}mp/css/map.css">
<script  src="{%url 'js-api'%}"></script>
<script src="{{STATIC_URL}}js/api-forms.js"></script>
<script  src="{{STATIC_URL}}mp/js/app.js"></script>
{%endblock%}
{%block body%}
<div class="screen_view">
<section id="header">
<div id="top_bar">
<div><a href="#"><span id="logo">MyPlaces</span></a></div><div id="ajax_indicator"></div>
{%if flavour == 'full' %}
<div id="login">
{%if user.is_authenticated  %}

<form action="{%url 'auth_logout'%}" method="get">
<span class="current_user">{{user}}</span>
<input type="hidden" name="next" value="{%full_url 'home'%}">
<input type="submit" value="{%trans 'Log Out'%}" id="logout-btn">
</form>
{%else%}
<form id="login_form" action="{%url 'auth_login'%}" method="get">
<input type="hidden" name="next" value="{%full_url 'home'%}">
<input type="submit"  value="{%trans 'Log In'%}">
</form>
{%endif%}
</div>
{%endif%}
<div id="menu_btn"></div>
</div>
</section>

<section id="main"{%if flavour == 'mobile'%} class="mobile"{%endif%}>
<div id="content">
{%if flavour == 'full' %}
<div id="left_panel"></div>
<div id="right_panel">
{%blocktrans%}
<h2 class="info">MyPlaces is free service for creating own collections of points on maps.</h2>
<h2 class="info">Collection points / places are basically you custom maps.</h2>
<h2 class="info">Maps used are from OpenStreetMap project</h2>
<h2 class="info">Offers various export and import possibilities  - formats CSV, GPX, GeoJSON</h2>
<h2 class="info">Data can be this exchanged with navigation devices and GPS</h2>
<h2 class="info">Also provides some nice visualizations on the map - like clustering of points or Voronoi diagrams</h2>
<h2 class="info">Service is free and open source anyone can join or contribute </h2>
{%endblocktrans%}
</div>
{%else%}
<div id="one_panel"></div>
{%endif%}
</div>
</section>

<section id="footer">
<div id="footer_line"{%if flavour == 'mobile'%} class="mobile"{%endif%}>
<ul>

<li><a href="#about">{%trans 'About'%}</a></li>
<li><a href="#contribute">{%trans 'Contribute'%}</a></li>
<li><a href="#terms">{%trans 'Terms of use'%}</a></li>
<li><a href="#contact">{%trans 'Contact'%}</a>
</ul>
</div>
</div>
</section>

</div>

{{params.forms.render_all}}


<script type="text/template" id="form_template">
<form>
<%=fields%>
<div class="btn_bar">
<input type="button" class="save_btn" value="{%trans 'Save'%}">
<input type="button" class="cancel_btn" value="{%trans 'Cancel'%}">
<% if (! isNew ) { %>
<input type="button" class="confirm_delete_btn" value="{%trans 'Delete'%}">
<% } %>
</div>
</form>
</script>

<script type="text/template" id="group_places_detail">
<div id="group_places">
<div id="export_btn" class="small_btn"></div>
<h2><%=name%></h2>
<div class="search_bar">
<input type="search" id="place_search_<%=id%>" class="search">
<div id="place_search_btn" class="search_btn"></div>
{% if perms.myplaces.add_place %}
<% if (is_mine) {%><div class="new_btn"></div><% } %>
{%endif%}
</div>
<div id="places_list" class="list_container"></div>
</div>
</script>


<script type="text/template" id="groups_template">
<div class="search_bar">
<input type="search" id="group_search" class="search">
<div id="group_search_btn" class="search_btn"></div>
{% if perms.myplaces.add_placesgroup %}
<div class="new_btn"></div>
{%endif%}
</div>
<div id="group_list" class="list_container"></div>
</div>
</script>

<script type="text/template" id="groups_list_template">
<ul id="groups_list" class="list">
</ul>
<div class="list_footer">
<% if (previousPage) { %>
<a class="previous">&lt;&lt;</a>
<% } %>
<% if (nextPage) { %>
<a class="next">&gt;&gt;</a>
<% } %>
</div>
</script>

<script type="text/template" id="group_item_template">
<li data-pk="<%= id %>">
<% if (attributes.count>0) { %>
<div class='map_btn small_btn'></div>
<% } %>
<% if (attributes.is_mine) { %>
<div class='edit_btn small_btn'></div>
<% } %>
<span class="title"><%= title %></span>
<div class="item-detail">
</div>
</li>
</script>

<script type="text/template" id="place_item_template">
<li data-pk="<%= id %>">

<div class='map_btn small_btn'></div>
<% if (attributes.is_mine) { %>
<div class='edit_btn small_btn'></div>
<% } %>
<span class="title"><%= title %></span>
<div class="item-detail">
</div>
</li>
</script>

<script type="text/template" id="place_template">
<div class="place_detail">
<div class="position">
<span class="lat"><%=position[0]%></span>,<span class="lng"><%=position[1]%></span>
</div>
<% if (url) { %>
<a target="_blank" href="<%=url%>" class="place_link"></a>
<% } %>
<div class="address"><%=address_string%></div>
<p class="description"><%=description%></p>
</div>
</script>

<script type="text/template" id="group_title_template">
<%= name %>
</script>

<script type="text/template" id="group_detail">
<div class="group-details">
<div class="counter">
<div class="number"><%=count%></div>
<div class="label-small">{%trans 'Places'%}</div>
</div>
<p><%=description%></p>
</div>
</script>

<script type="text/template" id="initial_banner">
<div class="banner1">
<h1>{% trans 'Places ...'%}</h1>
<h1>{% trans 'My Places'%}</h1>
<h1>{% trans 'Your Places'%}</h1>
<h1>{% trans 'Many Places ...'%}</h1>
<h2>{%trans 'Map Them, Discover Them'%}</h2>
</div>
</script>


<script type="text/template" id="confirm_delete">
<div class="dialog small">
<p>{% trans 'Really delete?'%}</p>
<div class="btn_bar">
<input type="button" class="delete_btn" value="{%trans 'Yes'%}">
<input type="button" class="close_dialog_btn" value="{%trans 'No'%}">
</div>
</div>
</script>

<script type="text/template" id="geocode_bar">
<div class="r2b_geocode_nav">
<div class="geobar">
<div class="get_location_btn small_btn"></div>
<div class="get_address_btn small_btn"></div>
</div>
</div>
</script>

<script type="text/template" id="main_menu" >
<ul id="main_menu_list" class="menu">
{% if not user.is_authenticated %}
<li><a href="{%url 'auth_login'%}?next={%full_url 'home' encode=1%}">{%trans 'Log In'%}</a></li>
<li><a href="{%url 'registration_register'%}">{%trans 'Register'%}</a></li>
{%endif%}
<li><a href="{%url 'home' %}">{%trans 'Reload'%}</a></li>
{%if perms.myplaces.import_placesgroup and flavour == 'full'%}
<li><a target="_blank" href="{%url 'upload-places' step=1%}">{%trans 'Import'%}</a></li>
{%endif%}
{%if flavour == "full" %}
<li><a href="{%url 'home' %}?flavour=mobile">{%trans 'Mobile Site'%}</a></li>
{%else%}
<li><a href="{%url 'home' %}?flavour=full">{%trans 'Full Site'%}</a></li>
{%endif%}
{% if user.is_authenticated %}
<li><a href="{%url 'profile_change' %}">{%trans 'My Profile'%}</a></li>
<li><a href="{% url 'auth_password_change'%}">{%trans 'Change Password'%}</a></li>
<li><a href="{%url 'auth_logout'%}?next={%full_url 'home' encode=1%}">{%trans 'Log Out'%}</a></li>
{%endif%}
</ul>
</script>

<script type="text/template" id="export_menu">
<ul id="export_menu_list" class="menu">
{%for fmt in params.formats%}
<li><a data-format="{{fmt.0}}" href="#do-the-needful">{{fmt.1}}</a></li> 
{%endfor%}
</ul>
</script>


<script>
var siteFlavour='{{flavour}}';
</script>

{%endblock%}