{%extends 'base.html'%}
{% load url from future %}
{% load i18n %} 
{% load utility_tags %}
{%block title%}
{% trans 'Map' %}
{%endblock%}
{%block head_script%}
{%if debug%}
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet-0.7.1/leaflet.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/Leaflet-0.7.1/leaflet-src.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}js//Leaflet.markercluster-0.4/MarkerCluster.css" />
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet.markercluster-0.4/MarkerCluster.Default.css" />
<script src="{{STATIC_URL}}js/Leaflet.markercluster-0.4/leaflet.markercluster-src.js"></script>

{%else%}
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet-0.7.1/leaflet.css" />
<script src="{%proto%}://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.1/leaflet.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}js//Leaflet.markercluster-0.4/MarkerCluster.css" />
<link rel="stylesheet" href="{{STATIC_URL}}js/Leaflet.markercluster-0.4/MarkerCluster.Default.css" />
<script src="{{STATIC_URL}}js/Leaflet.markercluster-0.4/leaflet.markercluster.js"></script>
{%endif%}

<script src="{{STATIC_URL}}/mp/js/map.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}mp/css/map.css">

{%endblock%}
{%block body%}
<style>
html {
height: 100%;
}
</style>
<div id="map">Map goes here</div>
<script>

var mapObject=createMap('map', {backControl:'topleft', locateControl:'topleft', layersControl:'topright'});
{% if params.group_id%}
mapObject.displayGroup({{params.group_id}}{%if params.place_id%}, {{params.place_id}}{%endif%});
{%else%}
mapObject.map.setView([49,15], 12);
mapObject.locatePosition();
{%endif%}
$('#map').show();
</script>
{%endblock%}