{%extends 'registration/base.html'%}
{% load i18n %} 
{% load url from future %}
{%block title%}
{% trans 'User Login' %}
{%endblock%}
{%block header%}{% trans 'User Login' %}{%endblock%}
{%block content%}
<div class="login_form_separate">
<form method="post" action="{% url 'auth_login' %}">
{%include 'form_content.html'%}
<input type="submit" value="{%trans 'Login'%}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{%if form.errors %}
<p><a href="{%url 'auth_password_reset'%}">{%trans 'Have you forgotten you password?'%}</a></p>
{%endif%}
</div>
{% endblock %}