{%extends 'registration/base.html'%}
{% load i18n %} 
{% load utility_tags %}
{%block title%}
{% trans 'Password Reset Required' %}
{%endblock%}
{%block header%}{% trans 'Password Reset Required' %}{%endblock%}
{%block content%}
<p class="message">
{%blocktrans%}
We've e-mailed you instructions for resetting your password to 
the e-mail address you submitted. You should be receiving it shortly.
<br>
You can return to {%endblocktrans%}
<a href="{%full_url 'home'%}">{%trans 'home page'%}</a>
.
</p>

{%endblock%}
