{%extends 'registration/base.html'%}
{% load i18n %} 
{% load utility_tags %}
{%block title%}
{% trans 'Registration Complete' %}
{%endblock%}
{%block header%}{% trans 'Registration Complete' %}{%endblock%}
{%block content%}
<p class="message">
{%blocktrans%}
Your registration is now send. 
You will receive an email in a minute, with instructions how to complete your registration.<br>
(please also check spam folders, sometime our emails are put there by mistake)
<br>
In a meanwhile you can still {%endblocktrans%}
<a href="{%full_url 'home'%}">{%trans 'use our site'%}</a>
{%blocktrans%} as unregistered user.
{%endblocktrans%}
</p>
{%endblock%}